<script setup>
import TheHeader from "@/components/TheHeader.vue";
import ProductCard from "@/components/ProductCard.vue";
import { storeToRefs } from "pinia";
import { useProductStore } from "@/stores/ProductStore";
import { useStoreCart } from "@/stores/CartStore";

//using destructuring when call state and for reactiveness using storeToRefs methods from pinia
const { products } = storeToRefs(useProductStore());
const productStore = useProductStore();
const storeCart = useStoreCart();

productStore.fill();
</script>

<template>
  <div class="container">
    <TheHeader />
    <div class="mb-5 flex justify-end">
      <AppButton @click="storeCart.undo">Undo</AppButton>
      <AppButton class="ml-2" @click="storeCart.redo">Redo</AppButton>
    </div>

    <ul class="sm:flex flex-wrap lg:flex-nowrap gap-5">
      <ProductCard
        v-for="product in products"
        :key="product.name"
        :product="product"
        @addToCart="storeCart.addToCart($event, product)"
      />
    </ul>
  </div>
</template>
